<template name="actionPlanCompose">
    <div class="container">
        <div class="row">
            <div class="col-md-4" style="position: fixed;">
                <h1>Compose {{action_plan.name}}</h1>
                <h5>Description: {{action_plan.description}}</h5>
                <h5>Milestones:</h5>
                <ol>
                {{#each getMilestones}}
                    <li>{{title}}</li>
                {{/each}}
                </ol>
            </div>
            <div class="col-md-8 col-md-offset-4">
                {{> actionPlanComposeForm action_plan}}
            </div>
        </div>
    </div>
</template>
