<template name="userProfile">
    <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#skills" aria-controls="skills" role="tab" data-toggle="tab">Skills</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="profile">
                <div class="row">
                    <div class="col-md-6">
                        <form id="info_form" class="form-horizontal">
                            <h2>Basic Info</h2>
                            {{#if info_saved}}<div class="alert alert-success" role="alert">Saved!</div>{{/if}}
                            <div class="form-group">
                                <label for="first_name" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="first_name" placeholder="First Name" value="{{user.profile.first_name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="last_name" placeholder="Last Name" value="{{user.profile.last_name}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="email" placeholder="Email" value="{{user.emails.[0].address}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="skills">
                <div class="row">
                    <div class="col-md-12">  
                        <h2>Skills</h2>
                        {{#if skills_saved}}<div class="alert alert-success" role="alert">Saved!</div>{{/if}}
                        <form id="add_skills_form" class="form-horizontal">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="skill_name" class="col-sm-2 control-label">Skill Name</label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="skill_name" placeholder="Skill name">
                                            <span class="input-group-btn">
                                              <button class="btn btn-default" type="submit">Add</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>          
                        <form id="skills_form" class="skills_form form-horizontal">
                            {{#each user.profile.skills}}
                            <div class="form-group">
                                <label for="{{name}}" class="col-sm-2 control-label">{{name}}</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline">
                                        <input type="radio" name="{{name}}" value="1" {{is_selected 1}}>1 (I've done a tutorial)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{name}}" value="2" {{is_selected 2}}>2 (I've done a couple tutorials)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{name}}" value="3" {{is_selected 3}}>3 (I've built a project with it)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{name}}" value="4" {{is_selected 4}}>4 (I've built multiple projects with it)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="{{name}}" value="5" {{is_selected 5}}>5 (I'm an expert)
                                    </label>
                                    <label class="radio-inline">
                                         <button class="remove_skill btn btn-sm btn-default" type="button"><span class="glyphicon glyphicon-remove"></span></button>
                                    </label>
                                </div>
                            </div>
                            {{/each}}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
