<template name="composerTutorial_step1">
    <h3>Welcome to the action plan composer!</h3>
    <p>In this editor, you can create the perfect action plan. We'll show you how!</p>
</template>

<template name="composerTutorial_step2">
    <h3>Make sure you understand the request</h3>
    <p>To review the request for this action plan, just click here. Be sure to read it over carefully.</p>
</template>

<template name="composerTutorial_step3">
    <h3>Create key milestones</h3>
    <p>Add the big steps you think are needed to complete this project. For example, 'Setup a database', 'Create login flow'. Don't worry about getting everything in, you can always add more later.</p>
</template>

<template name="composerTutorial_step4">
    <h3>Work on your first milestone</h3>
    <p>Each milestone should have a clear motivation of why its being done. State the learner why you chose this milestone and what they should expect to have done by the end.</p>
    <p>For Example: <br>'We want to get a working, useful, fun map to navigate right off the bat by (1) coding in information about a bunch of cultures and locations, (2) showing them as markers on the map, (3) letting users move around the map and click on different markers to learn more about these cultures. From there we can load in some real data or add other features.'</p>
</template>

<template name="composerTutorial_step4">
    <h3>Add substasks</h3>
    <p>A subtask is a small task that must be completed to reach the goal of the milestone. They do not have to be extremely specific but it should be clear what needs to be done, such as to create a html form with a name and password, put in fields or create a submit button.</p>
</template>

<template name="composerTutorial_step5">
    <h3>Subtasks</h3>
    <p>A subtask is a small task that must be completed to reach the goal of the milestone. They do not have to be extremely specific but it should be clear what needs to be done, such as to create a html form with a name and password, put in fields or create a submit button.</p>
</template>

<template name="composerTutorial_step6">
    <h3>Subtasks</h3>
    <p>A subtask is a small task that must be completed to reach the goal of the milestone. They do not have to be extremely specific but it should be clear what needs to be done, such as to create a html form with a name and password, put in fields or create a submit button. Links are optional resources for you to include with every subtask that can help guide the learner.</p>
</template>