// Main styles

body { padding-top: 70px; }

.badge {
	
	background-color: #37474F

}

.panel-body {
	
	background-color: #CFD8DC
}

.panel-default > .panel-heading {

  color: #FFFFFF;
  background-color: #607D8B;
  border-color: #607D8B;

}

.navbar {
	
	background-color: #263238;
	border-color: #263238;
}