<template name="recipeNew">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="recipe-new">
                    <div class="form-group request-label">
                        <label for="name" style="font-size: 20px;">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name of your Recipe">
                    </div>
                    <br>
                    <div class="form-group request-label">
                        <label for="description" style="font-size: 20px;">Description</label>
                        <p>Please give a short description of your project (3-5 sentences).</p>
                        <textarea class="form-control" id="description" placeholder="Description of your Recipe"></textarea>
                    </div>
                    <br>

                    <button type="submit" class="btn btn-default" style="margin-bottom: 20px">Submit</button>
              </form>
          </div>
      </div>
    </div>
</template>
