<template name="actionPlanRequestView">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title">{{action_plan.name}}</h1>
                    </div>
                    <div class="panel-body">
                        <p>Description: {{action_plan.description}}</p>
                        <p>Requested Skills:
                            <ul>
                                {{#each action_plan.requested_skills}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        </p>
                        <p>
                            {{#if action_plan.author_id}}
                                Action plan being written by: {{author_name action_plan.author_id}}
                            {{else}}
                                Action Plan Pending Author
                            {{/if}}
                        </p>
                    </div>
                </div>
            </div>
      </div>
    </div>
</template>
