<template name="actionPlanView">
	<div class="container" >
		<div class="row">
			<div class="col-md-8">
				<h1>{{action_plan.name}}</h1>
				<p>{{action_plan.description}}</p>
				{{#each action_plan.milestone_ids}}
					{{#with get_milestones this}}
					<div class="panel panel-default">
  						<div class="panel-heading">
							<h1 class="panel-title">
								<a data-toggle="collapse" href="#collapse_{{this._id}}">{{this.title}}</a>
							</h1>
						</div>
						<div id="collapse_{{this._id}}" class="panel-collapse collapse">
							<div class="panel-body">
								<p>{{this.motivation}}</p>

							    <ol class="list-group">
							    	{{#each this.subtask_ids}}
							    		{{#with get_subtasks this}}
							    		<li class="list-group-item" style="margin-right:10px">
							    			<input class="complete_cb" type="checkbox" checked="{{is_complete_subtask this._id}}"> 
							    			{{#if is_complete_subtask this._id}}
							    				<s>{{this.description}}</s>
							    			{{else}}
							    				{{this.description}}
							    			{{/if}}
											{{#if this.links.length}}
												{{#each this.links}}

													<a class="pull-right" target="_blank" href="{{this}}">
														<span class="badge">
															<span class="glyphicon glyphicon-link" aria-hidden="true"></span>
														</span>
													</a>
												{{/each}}
											{{/if}}	
							    		</li>	

							    		{{/with}}
						    		{{/each}}
							    </ol>
							</div>
						</div>		
					</div>
					{{/with}}
				{{/each}}
			</div>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h1 class="panel-title">How to use your action plan</h1>
					</div>
					<div class="panel-body">

						<p>Your action plan is divided into 3 parts: milestones, subtasks, and links.</p>

						<p><strong>Milestones</strong> are general, overarching steps that will help you complete your project. Every milestone begins with a motivation to help you understand why this step is important. Click on the milestones to expand them!</p>

						<p><strong>Subtasks</strong> are what milestones are divided into. These are smaller, tangible tasks that help you complete each milestone.</p>

						<p><strong>Links</strong> are included with some subtasks to provide added guidance. These are the clickable link icons located at the right of some subtasks. These links take you to online tutorials, documentation, or other helpful sites. Sometimes only part of the link is relevant to the task; only use the link to help you complete its corresponding subtask.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>