@import '../../stylesheets/variables.less';
@import '../../stylesheets/helpers.less';
@import '../../stylesheets/lib/elements.less';

#recipe-picker {
	margin-top: 5vh;
}

#recipe-header {
	margin-top: 0;
}

.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}

.milestone-tags {
	display: inline-block;
	float: right;
}