<template name="actionPlanList">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Your Pending Action Plans <a href="{{pathFor route='action_plans.new'}}" class="btn btn-primary">Request Action Plan</a></h1>
                <ul>
                    {{#each user_pending_action_plans}}
                        <li><a href="{{pathFor route='action_plans.show' data=this}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-4">
                <h1>Your Ready Action Plans</h1>
                <ul>
                    {{#each user_complete_action_plans}}
                        <li><a href="{{pathFor route='action_plans.show' data=this}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div class="col-md-4">
                <h1>Action Plans You can help with</h1>
                <ul>
                    {{#each other_pending_action_plans}}
                        <li><a href="{{pathFor route='action_plans.show' data=this}}">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</template>
