<template name="requestInfoModal">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">{{this.name}}</h4>
                </div>

                <div class="modal-body">
                    <p><strong>Description:</strong> {{action_plan.description}}</p>

                    <p><strong>Milestones:</strong> {{action_plan.build_milestones}}</p>

                    <p><strong>Steps:</strong> {{action_plan.steps}}</p>

                    <p><strong>Affordances:</strong> {{action_plan.affordances}}</p>

                    <p><strong>Min and max functionality:</strong> {{action_plan.min_functionality}}</p>

                    <p><strong>Reference work:</strong> {{action_plan.reference_work}}</p>

                    <p><strong>Learner's Prior Knowledge:</strong> 
                        <ul>
                            {{#each request_user.profile.skills}}
                                <li>{{this.name}} (level {{this.level}})</li>
                            {{/each}}
                        </ul>
                    </p>
                    <p><strong>Learner's Requested Frameworks:</strong> 
                        <ul>
                            {{#each action_plan.requested_skills}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>
