<template name="ComposerHome">
    <div class="container">
        <!-- {{#if currentUser}}
    	<div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Action Plan Plans You Can Help With</div>
                    <div class="panel-body">
                        <p>These are action plans other users are requesting. If you feel like you can help out, go ahead and select one to write.</p>
                    </div>
                    <div class="list-group" >
                        {{#each other_pending_action_plans}}
                            <a type="button" class="list-group-item" href="{{pathFor route='action_plans.show' data=this}}">{{name}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Action Plan Plans You Are working on</div>
                    <div class="panel-body">
                        <p>These are action plans other users are requesting and you are working. Be sure to mark it as finished when you are done.</p>
                    </div>
                    <div class="list-group" >
                        {{#each user_working_on_action_plans}}
                            <a type="button" class="list-group-item" href="{{pathFor route='action_plans.show' data=this}}">{{name}}</a>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{else}}
        <h1>Please log in</h1>
        {{/if}} -->
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default current">Current</button>
          <button type="button" class="btn btn-default potential">Potential</button>
          <button type="button" class="btn btn-default completed">Completed</button>
        </div>
        <div>
           {{#if isFilter 'current'}} <h3>Current Action Plans</h3>{{> reactiveTable settings=settings_current}} {{/if}}
        </div>

        <div>
            {{#if isFilter 'potential'}} <h3>Potential Action Plans</h3>{{> reactiveTable settings=settings_potential}} {{/if}}
        </div>

        <div>
            {{#if isFilter 'completed'}} <h3>Completed Action Plans</h3>{{> reactiveTable settings=settings_completed}} {{/if}}
        </div>

    </div>
</template>
