<template name="actionPlanRequestForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="ap_request">
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="text" class="form-control" id="name" placeholder="name">
                    </div>
                    <div class="form-group">
                        <label for="description">description</label>
                        <textarea class="form-control" id="description" placeholder="description"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </div>
      </div>
  </div>
</template>
