<template name="actionPlanRequestForm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form id="ap_request">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name of your Action Plan">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <p>Please be as descriptive as possible so we can personalize your plan as best we can.</p>
                        <textarea class="form-control" id="description" placeholder="Description of your Action Plan"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="requested_frameworks">Requested Skills</label>
                        <p>Please check any frameworks/languages you want to work in, if any. Note you can only request skills you are already familiar with. You can edit your skills in <a href="/user/edit">your profile</a></p>
                        {{#each user.profile.skills}}
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="{{name}}"> {{name}} (level {{level}})
                                </label>
                            </div>
                        {{/each}}
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
              </form>
          </div>
      </div>
    </div>
</template>
